* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --dark-blue: hsl(240, 38%, 20%);
    --grayish-blue:  hsl(240, 18%, 77%);
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    max-width: 1200px;
    margin: 0 auto;

    background-image: url(images/pattern-bg.svg);
  
    background-repeat: no-repeat;
    background-position-x: right;
    overflow: hidden;
  
}


body::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("images/pattern-curve.svg");
    background-repeat: no-repeat;
    background-position-y: 500px;
    left: -4px;
    top: 0;
    bottom: 0;
    z-index: -9999;
}

.mySlides {
    display: none;
}

.fade {
    animation: fade;
    animation-duration: 1s;
    
}

@keyframes fade {
    0%  {
        transform: translateX(-100%);
        opacity: .4;
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}



.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    
}



.slide__info {
    position: relative;
    top: 0;
    left: 60px;
    z-index: 999;
    background-image: url("images/pattern-quotes.svg") ;
    background-repeat: no-repeat;
    background-position-x: 60px;
    background-position-y: -40px;
    grid-area: title;
   
    grid-column: 1 / -1;
   
    margin-top: 2em;
   
   
   
}

.slide__info > p {
    font-weight: 300;
    margin-top: 1em;
    max-width: 1000px;
    min-width: 350px;
    
}

.slide__image {
    margin-top: 2em;
    margin-right: 40px;
}

img {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    
}

.slide__info-name {
    margin-top: 1.3em;
    font-size: 16px;
}

.slide__info-name h4 span {
    font-weight: 300;
}

.btn__navigate {
    cursor: pointer;
    background-color: #ffffff;
    width: 110px;
    height: 50px;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: -40px;
    left: 70px;
    bottom: 0;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.btn__prev, .btn__next {
    cursor: pointer;
    
}
.btn__prev:hover, .btn__next:hover {
    background-color:  var(--grayish-blue);
}

@media (max-width: 960px) {
    .slide {
        flex-direction: column;
        text-align: center;
    }

    .slide__info {
        order: 2;
    }

    .btn__navigate {
        left: 200px;
    }
}
